.form-container {
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 0 auto;
}

.form-header {
    margin-bottom: 2rem;
    color: #005813;
    padding-bottom: 1rem;
}

.form-section {
    background-color: #DEFFC5;
    padding: 1.5rem;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}
        
.btn-primary {
    background-color: #005813;
    border-color: #005813;
}
        
.btn-primary:hover {
    background-color: #003d0e;
    border-color: #003d0e;
}

